.char-subtitle {
	a {
		opacity: 0.0;
		color: #AAA;
	}
}
.char-subtitle:hover a {
	opacity: 1.0;
}

.filters {
	label {
		padding-right: 1em;
	}
}

#details-feats, #details-skills {
	table tr td:first-child {
		padding-top: 3px;
		padding-bottom: 3px;
		width: 40px;

		img {
			vertical-align: middle;
		}
	}
}

#details-build {

	.collapsible {

		.collapsible-header {
			border-left: 1em solid #000;
			.level-id {
				display: inline-block;
				width: 2em;
				text-align: center;
				margin: -8px;
				margin-right: 0;
			}
			img{
				margin: -10px 5px -10px 5px;
			}
		}
		.collapsible-body {
			border-left: 1px solid #000;
		}

		.class0 {
			.collapsible-header, .collapsible-body {
				border-left-color: #90CAF9;
			}
		}
		.class1 {
			.collapsible-header, .collapsible-body {
				border-left-color: #A5D6A7;
			}
		}
		.class2 {
			.collapsible-header, .collapsible-body {
				border-left-color: #EF9A9A;
			}
		}
		.class3 {
			.collapsible-header, .collapsible-body {
				border-left-color: #C485F8;
			}
		}
	}
}

#details-dungeons {
	table tr td:not(:first-child) {
		font-size: 32px;
		text-align: center;
		padding: 0px 5px 0 5px;
	}

	table thead td {
		width: 100%;
	}
}