


<div class="row">
	<h3>Personnages actifs</h3>
	<table class="highlight">
		<thead>
			<tr>
				<th></th>
				<th>Nom</th>
				<th>Race</th>
				<th>Niveau</th>
				<th>Classe(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let character of activeChars">
				<td class="public-icon flow-text">
					<span *ngIf="character.metadata?.isPublic === true" class="tooltipped" materialize="tooltip" data-position="right" data-tooltip="Personnage public"><i class="material-icons left">public</i></span>
				</td>
				<td>
					<a class="flow-text" (click)="gotoCharDetails(character, false)">{{character.name}}</a>
					<span style="margin-left: 1em;">
						<ng-container *ngFor="let cl of character.classes">
							<img class="class-icon" src="/assets/nwn2/icons/{{cl.icon}}.png" title="{{cl.name}}"/>
						</ng-container>
					</span>
					<br/>
					<em>{{character.metadata.subTitle}}</em>
				</td>
				<td>{{character.race}}</td>
				<td>{{character.lvl}}</td>
				<td>
					<span *ngFor="let cl of character.classes">
						{{cl.name}} ({{cl.lvl}})
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row">
	<h3>Personnages supprimés</h3>
	<table class="highlight">
		<thead>
			<tr>
				<th></th>
				<th>Nom</th>
				<th>Race</th>
				<th>Niveau</th>
				<th>Classe(s)</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let character of backupChars">
				<td>
					<span *ngIf="character.metadata?.isPublic === true" class="tooltipped" materialize="tooltip" data-position="right" data-tooltip="Personnage public"><i class="material-icons left">public</i></span>
				</td>
				<td>
					<a class="flow-text" (click)="gotoCharDetails(character, true)">{{character.name}}</a>
					<span style="margin-left: 1em;">
						<ng-container *ngFor="let cl of character.classes">
							<img class="class-icon" src="/assets/nwn2/icons/{{cl.icon}}.png" title="{{cl.name}}"/>
						</ng-container>
					</span>
					<br/>
					<em>{{character.metadata.subTitle}}</em>
				</td>
				<td>{{character.race}}</td>
				<td>{{character.lvl}}</td>
				<td>
					<span *ngFor="let cl of character.classes">
						{{cl.name}} ({{cl.lvl}})
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>