
<div class="navbar-fixed">
  <nav role="navigation" class="light-blue lighten-1">
    <div class="nav-wrapper container">
      <ul class="left">
        <li>
          <a id="sidebar-button" materialize="sideNav" class="button-collapse" data-activates="sidebar"><i class="mdi-navigation-menu material-icons">menu</i></a>
        </li>
        <li>
          <a href="/" class="flow-text">
            <img src="/assets/logo_48x48.png" style="vertical-align: middle; height: 48px;" alt="">
            <span class="hide-on-med-and-down">La Colère d'Aurile</span>
          </a>
        </li>
      </ul>
      <ul class="right">
        <li *ngIf="user.account !== ''" class="flow-text">{{user.account}}</li>
        <li>
          <a *ngIf="user.account === ''" id="modal-login-button" class="btn waves-effect waves-light modal-trigger" (click)="login()">
            Connexion
          </a>
          <a *ngIf="user.account !== ''" (click)="logout()">
            <i class="material-icons right">exit_to_app</i><span class="hide-on-med-and-down">Déconnexion</span>
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>
<ul id="sidebar" class="side-nav fixed">
  <li class="admin-browse-account" *ngIf="user.isAdmin">
    <input type="text" [(ngModel)]="accountToBrowseField" (keyup.enter)="onAccountToBrowseSet()">
  </li>
  <li *ngIf="user.account !== ''" routerLinkActive="active">
    <a routerLink="/{{accountToBrowse}}/account/" (click)="closeSideNav()" class="activable">
      <i class="material-icons left">settings</i>
      Mon compte
    </a>
  </li>

  <li *ngIf="user.account !== ''" routerLinkActive="active">
    <ul class="collapsible collapsible-accordion" materialize="collapsible" data-collapsible="accordion">
      <li>
        <a routerLink="/{{accountToBrowse}}/vault/" (click)="closeSideNav()" class="activable">
          <i class="material-icons left">face</i>Personnages</a>
        <i class="collapsible-header material-icons">arrow_drop_down</i>
        <div class="collapsible-body">
          <ul>
            <li class="char-link" *ngFor="let character of charList" routerLinkActive="grey-active">
              <a [routerLink]="['/', accountToBrowse, 'vault', character.bicFileName]" (click)="closeSideNav()" class="activable">
                <div class="title">{{character.name}} ({{character.lvl}}) <i *ngIf="character.metadata.isPublic" class="material-icons">public</i></div>
                <div class="subtitle truncate">{{character.metadata.subTitle}}</div>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li *ngIf="user.account !== ''"><div class="divider"></div></li>
  <li *ngIf="user.account === ''" routerLinkActive="active">
    <a routerLink="/newaccount" (click)="closeSideNav()" class="activable">
      <i class="material-icons left">add_circle_outline</i>
      Nouveau compte
    </a>
  </li>
  <li>
    <a href="http://lacoleredaurile.xooit.fr/" (click)="closeSideNav()" class="activable">
      <i class="material-icons left">forum</i>
      Forum
    </a>
  </li>
  <li>
    <a href="https://wiki.lcda-nwn2.fr/" (click)="closeSideNav()" class="activable">
      <i class="material-icons left">local_library</i>
      Wiki
    </a>
  </li>
</ul>

<!-- PAGE CONTENT -->
<main>
  <div class="container" style="padding-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</main>