.side-nav {

	// > li > ul {
	// 	font-weight: normal;
	// 	margin-left: 0;
	// 	border-left: 2.5em solid rgba(0,0,0,0.05);
	// }

	.grey-active {
		background-color: rgba(0,0,0,0.05);
	}


	.container-active {
		> a {
			background-color: rgba(0,0,0,0.05);
		}
	}

	ul.collapsible {

		> li.active {
			background: none;
		}
		> li {
			> .collapsible-header {
				display: inline-block;
				float: right;
				margin-top: -48px;
			}

			.collapsible-body {
				border-left: rgba(0,0,0,0.05) solid 1em;
			}

		}

	}

	.char-link {
		>a {
			padding-right: 0;
		}

		.title {
			height: 32px;
			line-height: 32px;

			i {
				padding: 5px;
				font-size: 14px;
				color: #888;
			}
		}
		.subtitle {
			height: 16px;
			line-height: 16px;
			font-size: 12px;

			font-weight: normal;
			color: #888;
		}

	}
}